<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>biography</key>
	<string>［1928〜1999］アメリカの映画監督。「博士の異常な愛情」「2001年宇宙の旅」「時計じかけのオレンジ」など，常に現代文明の本質を衝く問題作を撮り，世界的な反響を呼ぶ。ほかに「バリー＝リンドン」「フルメタル-ジャケット」など。</string>
</dict>
</plist>
