<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>東北</key>
	<array>
		<string>仙台89ERS</string>
		<string>青森ワッツ</string>
	</array>
	<key>北陸</key>
	<array>
		<string>金沢武士団</string>
	</array>
</dict>
</plist>
