<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>CL</string>
		<key>Description</key>
		<string>本名：イ・チェリン
2月26日生まれ
血液型：A型
ポジション：2NE1リーダー、ラッパー、ボーカル
言語：仏語、英語、日本語
趣味：作詞
2NE1のリーダーで、ダンス・ラップ・歌などすべてをこなすマルチプレーヤー。また、トレンドの最先端を行く2NE1のファッションは、ほとんどがCLのアイデアで決まっている。大学教授である父と共に、幼少期の多くを日本・フランスを含む海外で過ごした影響で韓国語、英語、仏語、日本語の４カ国語を操る才女な一面も。</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Bom</string>
		<key>Description</key>
		<string>本名：パク・ボム
3月24日生まれ
ポジション：メインボーカル 
血液型：AB型
言語：英語、日本語
趣味：音楽鑑賞
2NE1のムードメーカーで、世界唯一といわれる美声の持ち主。あらゆる美容法、新しい健康食品は見逃さない 美容オタクな面をもつ。その成果は自慢の美脚で実証済み。天然キャラだが、名門バークリー大学にも在籍していた実力派で英語が堪能。また、実姉が有名なチェロ奏者でもある。 
		</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Dara</string>
		<key>Description</key>
		<string>本名：パク・サンダラ
11月12日生まれ
ポジション：ボーカル
血液型：O型
言語：フィリピン語、英語
趣味：音楽鑑賞、インターネット
2NE1の宣伝部長で、さわやかなラップ＆ボーカル担当。デビュー当初より2NE1のプロモーション戦略会議に自ら参加し、積極的にアイデアを出す。今回のカウントダウンサイトもDARAの提案によるもの。最近ではその実績を買われ、大学で講義を開くほどに。フィリピンでは女優としても活動してきた実績あり。英語、フィリピン語が堪能。弟はMBLAQのメンバー、チョンドゥン。 
		</string>
	</dict>
</array>
</plist>
